body{
    background: url('https://nerdgeistdotcom.files.wordpress.com/2015/03/kwik-e-mart.png');
    background-size: cover;
    color: red;
    font-family: "Comic Sans MS";
    text-shadow: 2px 2px black;
}
h1{
  text-align:center;
    font-size: 40px;

}
h3{
    font-size: 35px;
}
#input_user_choice{
    font-size: 20px;
}
#div_computer_choice{
    font-size:25px;
    padding:5px;
}
#comp_vs_user{
    font-size: 30px;
    padding: 5px;
}

#player1_img{
    background-image: url('https://i.pinimg.com/originals/2e/1f/b1/2e1fb1449cb81363338af29cb2093816.jpg');
    height: 300px;
    width: 200px;
    background-size: 100% 100%;
}
#player2_img{
    background-image: url('http://www.trbimg.com/img-573a089a/turbine/ct-homer-simpson-live-pizza-debate-met-0517-20160516');
    height: 300px;
    width: 200px;
    background-size: 100% 100%;

}
#players{
    justify-content: space-between;
    flex-direction: row;
}
.flex-players {
    display: flex;
    flex-direction: row;
}
#P1 {
    display: flex;
    flex-direction: column;
}
#player1_rps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
}
.rps_button:active{
    background: red;
    }
.rps_button:focus{
    background: red;
}
.player {
    font-size: 20px;
    text-align: center;
}
#comp_vs_user {
    text-align: center;
    font-size: 50px;
}
#div_computer_choice {
    font-size: 20px;
}