body {
    background: white url("../images/wallpaper.jpg") no-repeat right bottom;
    background-size: cover;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #00ccfe;
}


