<style>


</style>




<h1>Vlog</h1>

{% if user.is_authenticated == False %}

<a href="{%url 'blog:registration' %}">Create Account</a>

<div>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="user_name" placeholder="user name"/>
        <input type="password" name="user_password" placeholder="password"/>
        <button type="submit" class="submit">submit</button>
    </form>
</div>
{% endif %}

<a href="{% url 'blog:createBlog' %}">Post Blog</a>


<h2>Posts</h2>

<div>
    <ul>
        {% for blog in blogs %}
        <div>
        <a href="{% url 'blog:detail' blog.id %}">{{blog.title}},  {{blog.timestamp}}</a>
        </div>
        {% endfor %}
    </ul>
</div>



<div>
     <form action="{% url 'blog:logoutUser' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="submit">Logout</button>
</div>
